<footer class="bg-black stayBottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ">
        <div class="cp-right">
          <!-- <p>&copy; 2014 <a href="http://omahpsd.com" class="color-primary linear">OmahPSD</a>. All Rights Reserved. </p> -->
          <p>
            <span>Love & Peace.</span>
          </p>
        </div><!-- end build -->
      </div><!-- end col -->

      <div class="col-md-6 text-right">

        <ul class="list-inline">
          {% if page.title %}
            <li><a href="/#blog" class="socIcon color-primary linear"><i class="fa fa-home fa-2x"></i></a></li>
          {% else %}
            <li><a href="https://www.facebook.com/profile.php?id=100003372102785" class="socIcon color-primary linear"><i class="fa fa-facebook fa-2x"></i></a></li>
            <li><a href="https://twitter.com/choose0or7" class="socIcon color-primary linear"><i class="fa fa-twitter fa-2x"></i></a></li>
            <li><a href="https://www.linkedin.com/in/shengbo-yu-604831107" class="socIcon color-primary linear"><i class="fa fa-linkedin fa-2x"></i></a></li>
            <li><a href="https://github.com/choose0or7" class="socIcon color-primary linear"><i class="fa fa-github fa-2x"></i></a></li>
            <li><a href="https://www.instagram.com/choose0or7/" class="socIcon color-primary linear"><i class="fa fa-instagram fa-2x"></i></a></li>
            <li><a href="http://weibo.com/choose0or7" class="socIcon color-primary linear"><i class="fa fa-weibo fa-2x"></i></a></li>
          {% endif %}

          <!-- <li><a href="mailto:syu@sunbridge.com" class="socIcon color-primary linear"><i class="fa fa-envelope fa-2x"></i></a></li> -->
        </ul>
      </div>
    </div>
  </div>
</footer>
