
<!-- Portfolio -->
<div id="work" class="page clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-10  col-md-offset-1">
        <div class="build title-page">
          <h2 class="text-center">Latest Work</h2>
          <div class="line-title bg-primary"></div>
        </div>
      </div><!-- end col -->
    </div><!-- end row -->
    <div class="col-md-12">

      <ul id="filterOptions" class="clearfix">
        <li class="cur"><a class="btn btn-link linear" href="#" data-group="all">All</a></li>
        <li><span>/</span></li>
        <li><a class="btn btn-link linear" href="#" data-group="mobile">Mobile</a></li>
        <li><span>/</span></li>
        <li><a class="btn btn-link linear" href="#" data-group="ilustrator">Ilustrator</a></li>

      </ul>

    </div><!--end-col-->
    <div class="col-md-12">
      <div class="folio-content clearfix">
        <div class="row">
          <div class="container_folio clearfix gallery" id="grid">
            <div class="col-xs-12 col-sm-4 col-md-4 box" data-groups='["all", "ilustrator"]'>
              <div class="folio-img">
                <div class="portfolio-item ">
                  <div class="thumbnail">
                    <div class="thumb-img">

                      <div class="link-attr">
                        <a href="/img/portfolio/wiki_sized.jpg" data-gallery="global-gallery" data-parent="" data-toggle="lightbox" data-title="Image Title Here" class="link-search animated linear"><i class="fa fa-search"></i></a>
                        <a href="/Theme Documentation/index.html" class="link-chain animated linear"><i class="fa  fa-chain"></i></a>
                      </div>
                      <img class="linear img-portfolio img-responsive" src="/img/portfolio/wiki_sized.jpg" alt="This Is Image">


                      <div class="folio-caption">
                        <i class="fa fa-caret-up"></i>
                        <p>Theme documentation</p>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 box" data-groups='["all", "mobile"]'>
              <div class="folio-img">
                <div class="portfolio-item">
                  <div class="thumbnail">
                    <div class="thumb-img">
                      <div class="link-attr">
                        <a href="/img/portfolio/comingSoonSmall.gif" data-gallery="global-gallery" data-parent="" data-toggle="lightbox" data-title="Image Title Here" class="link-search animated linear"><i class="fa fa-search"></i></a>
                        <a href="#" class="link-chain animated linear"><i class="fa  fa-chain"></i></a>
                      </div>
                      <img class="linear img-portfolio img-responsive" src="/img/portfolio/comingSoonSmall.gif" alt="This Is Image">
                      <div class="link"><a href="#">This Is Folio Link2</a></div>
                      <div class="folio-caption">
                        <i class="fa fa-caret-up"></i>
                        <p>This is Folio Caption</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 box" data-groups='["all", "mobile", "ilustrator"]'>
              <div class="folio-img">
                <div class="portfolio-item">
                  <div class="thumbnail">
                    <div class="thumb-img">
                      <div class="link-attr">
                        <a href="/img/portfolio/comingSoonSmall.gif" data-gallery="global-gallery" data-parent="" data-toggle="lightbox" data-title="Image Title Here" class="link-search animated linear"><i class="fa fa-search"></i></a>
                        <a href="#" class="link-chain animated linear"><i class="fa  fa-chain"></i></a>
                      </div>
                      <img class="linear img-portfolio img-responsive" src="/img/portfolio/comingSoonSmall.gif" alt="This Is Image">
                      <div class="link"><a href="#">This Is Folio Link3</a></div>
                      <div class="folio-caption">
                        <i class="fa fa-caret-up"></i>
                        <p>This is Folio Caption</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 box" data-groups='["all", "mobile", "ilustrator"]'>
              <div class="folio-img">
                <div class="portfolio-item">
                  <div class="thumbnail">
                    <div class="thumb-img">
                      <div class="link-attr">
                        <a href="/img/portfolio/comingSoonSmall.gif" data-gallery="global-gallery" data-parent="" data-toggle="lightbox" data-title="Image Title Here" class="link-search animated linear"><i class="fa fa-search"></i></a>
                        <a href="#" class="link-chain animated linear"><i class="fa  fa-chain"></i></a>
                      </div>
                      <img class="linear img-portfolio img-responsive" src="/img/portfolio/comingSoonSmall.gif" alt="This Is Image">
                      <div class="link"><a href="#">This Is Folio Link4</a></div>
                      <div class="folio-caption">
                        <i class="fa fa-caret-up"></i>
                        <p>This is Folio Caption</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 box" data-groups='["all", "mobile", "ilustrator"]'>
              <div class="folio-img">
                <div class="portfolio-item">
                  <div class="thumbnail">
                    <div class="thumb-img">
                      <div class="link-attr">
                        <a href="/img/portfolio/comingSoonSmall.gif" data-gallery="global-gallery" data-parent="" data-toggle="lightbox" data-title="Image Title Here" class="link-search animated linear"><i class="fa fa-search"></i></a>
                        <a href="#" class="link-chain animated linear"><i class="fa  fa-chain"></i></a>
                      </div>
                      <img class="linear img-portfolio img-responsive" src="/img/portfolio/comingSoonSmall.gif" alt="This Is Image">
                      <div class="link"><a href="#">This Is Folio Link5</a></div>
                      <div class="folio-caption">
                        <i class="fa fa-caret-up"></i>
                        <p>This is Folio Caption</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 box" data-groups='["all", "ilustrator"]'>
              <div class="folio-img">
                <div class="portfolio-item">
                  <div class="thumbnail">
                    <div class="thumb-img">
                      <div class="link-attr">
                        <a href="/img/portfolio/comingSoonSmall.gif" data-gallery="global-gallery" data-parent="" data-toggle="lightbox" data-title="Image Title Here" class="link-search animated linear"><i class="fa fa-search"></i></a>
                        <a href="#" class="link-chain animated linear"><i class="fa  fa-chain"></i></a>
                      </div>
                      <img class="linear img-portfolio img-responsive" src="/img/portfolio/comingSoonSmall.gif" alt="This Is Image">
                      <div class="link"><a href="#">This Is Folio Link6</a></div>
                      <div class="folio-caption">
                        <i class="fa fa-caret-up"></i>
                        <p>This is Folio Caption</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>

        </div>
      </div><!-- end folio content -->
    </div><!-- end col -->
  </div><!--end container-->


</div>
<!-- /Portfolio -->
